<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoadAllBook</servlet-name>
        <servlet-class>servlet.LoadAllBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProcess</servlet-name>
        <servlet-class>servlet.DetailProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProcess</servlet-name>
        <servlet-class>servlet.DeleteProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAllBook</servlet-name>
        <url-pattern>/LoadAllBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProcess</servlet-name>
        <url-pattern>/DetailProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProcess</servlet-name>
        <url-pattern>/DeleteProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
